# Mac OS X files
.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore Build Dir
/bin

# Test binary, build with `go test -c`
*.test

# ignore vendor directory
/vendor

/.idea
dist/
